body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./img/fundo.jpg");
}

header {
    text-align: center;
}

hr {
    background-color: #383fcf;
    height: 5px;
}

#primeiro,
#segundo,
#terceiro,
#quarto {
    background-color: #383fcf;
    width: 103px;
    height: 40px;
    margin-left: 13%;
    display: inline-block;
    text-align: center;
}

select {
    text-align: center;
}

.listas {
    text-align: start;
    font-weight: bold;
}

#fire-red,
#ruby,
#heart-gold,
#emerald,
#white-2,
#omega-ruby,
#platinum {
    width: 210px;
    height: 210px;
}

.conteudo {
    height: 230px;
    display: table;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.capa {
    width: 205px;
    height: 210px;
    margin-top: 10px;
    margin-left: 40px;
    display: table-cell;
    float: left;
}

.informacoes {
    display: table-cell;
    float: left;
    width: 190px;
    margin-top: -4px;
    margin-left: 10px;
    line-height: 30px;
    color: white;
    font-size: smaller;
    font-weight: bold;
}

section.conjunto {
    display: inline-block;
    margin-right: 10%;
    margin-top: 100px;
    width: 500px;
    height: 250px;
}

.rodape {
    margin-top: 20px;
    background-color: yellow;
}

#logo {
    width: 400px;
    margin: auto;
}

fieldset {
    margin-top: 10px;
    margin-right: 5px;
    width: 150px;
    text-align: center;
}

#pokemon-fire-red,
#pokemon-ruby {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 30%;
    height: 48%;
    border: solid 2px #383fcf;
    background-color: white;
    display: none;
}

.pokemon {
    margin: 5%;
    align-items: center;
    text-align: center;
}

.inicial {
    width: 90%;
    margin: auto;
}

#inicial-hoenn {
    width: 300px;
}

.legenda-pokemon {
    color: black;
    font-size: larger;
    margin-top: 0px;
}

.botao {
    text-align: center;
    margin-bottom: 0px;
}